.root {
  padding: 18px;
  margin: 90px auto 0px;
  max-width: 1180px;
}

.categoriesSortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.heading {
  margin-left: 0;
  margin-bottom: 12px;
}
