.root {
  padding: 18px;
  margin: 90px auto 0px;
  max-width: 1180px;
  display: flex;
  flex-direction: row;
}

.image {
  max-height: 480px;
  max-width: 560px;
  margin-right: 36px;
  margin-bottom: 12px;
  object-fit: contain;
  padding: 12px;
}

.title {
  padding: 0;
}

.price {
  padding: 0;
  margin-bottom: 12px;
  font-weight: 500;
}

.desc {
  margin-bottom: 12px;
  font-size: 20px;
}

@media screen and(max-width: 900px) {
  .root {
    flex-direction: column;
  }

  .image {
    margin-right: 0;
  }
}
